{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body_id 'signin' %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/admin') }}
    {{ encore_entry_link_tags('css/signin') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/admin') }}
{% endblock %}


{% block body %}
    <div class="animate purple"></div>
    <div class="animate medium-blue"></div>
    <div class="animate light-blue"></div>
    <div class="animate red"></div>
    <div class="animate orange"></div>
    <div class="animate yellow"></div>
    <div class="animate cyan"></div>
    <div class="animate light-green"></div>
    <div class="animate lime"></div>
    <div class="animate magenta"></div>
    <div class="animate lightish-red"></div>
    <div class="animate pink"></div>
    <div class="card form-signin">
        <form method="post" >
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal"> {{ 'title.login'|trans }}</h1>

            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="{{ 'label.username'|trans }}" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{{ 'label.password'|trans }}" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me">{{ 'action.remember_me'|trans }}
                </label>
            </div>


            <button class="btn btn-lg btn-primary btn-block" type="submit">
                {{ 'action.sign_in'|trans }}
            </button>
        </form>
    </div>



{% endblock %}
