{{ form_start(form) }}
    {{ form_row(form.content) }}
    {{ form_row(form.screens) }}
    {{ form_row(form.startDate) }}
    {{ form_row(form.endDate) }}
<button class="btn btn-primary btn-sm">{{ button_label|default('action.save')|trans }}</button>
{{ form_end(form) }}
