{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}{{ 'modal.import.title'|trans }}{% endblock %}

{% block main %}
    {{ form_start(form) }}
        <p>
            Fichier CSV <br>
            séparateur : ; <br>
            Colonne : 'Nom', 'Prénom', 'Né(e) le', 'Classe' <br>
            Format de date : dd/mm/yy
        </p>

        {{ form_row(form.file) }}
        {{ form_row(form.screens) }}

        <button type="submit" class="btn btn-sm btn-primary">{{ 'action.import'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
