{% extends 'admin/layout.html.twig' %}

{% block title %}Edit News{% endblock %}

{% block main %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ 'news.edit.title'|trans }}</h1>
    </div>

    {{ include('admin/news/_form.html.twig', {'button_label': 'action.update'}) }}

    <a href="{{ path('admin_news_index') }}">{{ 'action.back_to_list'|trans }}</a>

    {{ include('admin/news/_delete_form.html.twig') }}
{% endblock %}
