{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body_id 'homepage' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block header %}{% endblock header %}

{% block body %}
    <div class="demo">
        <div class="container">
            <h1 class="heading-title">Liste des Écrans</h1>

            <div class="card-container">
                {% for screen in screens %}
                    <div class="card">
                        <a href="{{ path('dashboard_screen', {id: screen.id }) }}" class="screen-box-link">
                            <div class="screen-box">
                                <div class="screen-icon">
                                    <i class="fa fa-desktop"></i>
                                </div>
                                <h3 class="title">{{ screen.name }}</h3>
                                <p class="description">
                                    {{ screen.description|md2html }}
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                <!-- Add more cards here -->
            </div>
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
            <div class="circle5"></div>
            <div class="circle6"></div>
            <div class="circle7"></div>
            <div class="circle8"></div>
        </div>

    </div>
    <a href="{{ path('admin') }}">
        <div class="template-corner template-top template-left">
            <div class="template-title">
                Admin
                <i class="template-icon fa fa-cogs"></i>
            </div>
        </div>
    </a>

{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}
