{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block body_id 'dashboard' %}

{% block header %}{% endblock header %}
{% block body %}

    <div class="d-flex h-100">
        <div class="w-66 bg-white section-left h-100 shadow">
            <div id="section1" class="section h-50">
                <div class="information h-100">
                    <div class="section-inner h-100">
                        <div class="d-flex h-100">
                            <div class="w-75 h-100">
                                <div class="information-container h-100">
                                    <div class="card w-100 mw-50">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ 'dashboard.information.title'|trans }}</h5>
                                            <div class="separator"></div>
                                            <div class="card-text">
                                                {% for event in widgets.News %}
                                                    {{ event.content|md2html }}
                                                {% else %}
                                                    <p>Aucune Information</p>
                                                {% endfor %}
                                            </div>
                                            <div class="logo"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="circle1"></div>
                        <div class="circle2"></div>
                        <div class="circle3"></div>
                        <div class="circle4"></div>
                        <div class="circle5"></div>
                        <div class="circle6"></div>
                        <div class="circle7"></div>
                        <div class="circle8"></div>
                    </div>
                </div>
            </div>
            <div id="section2" class="section h-50">
                <div class="menu h-100">
                    <div class="menu-card">
                        <div class="thumbnail">
                            <img class="left"
                                 src="https://cdn2.hubspot.net/hubfs/322787/Mychefcom/images/BLOG/Header-Blog/photo-culinaire-pexels.jpg"/>
                        </div>
                        <div class="right">
                            <h1 class="text-center">{{ 'dashboard.menu.title'|trans }}</h1>
                            <div class="separator"></div>
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    {% for event in widgets.Menu %}
                                        <div class="carousel-item description {% if loop.first %} active {% endif %}">
                                            <div class="w-100 d-block">
                                                {{ event.content|md2html }}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="description">Aucun menu</div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="elior"></div>
                        </div>
                    </div>
                    <div class="d-flex flex-column h-100 align-items-end justify-content-end date px-4">
                        <h5 class="w-100 text-left">{{ 'now'|localizeddate('none', 'none', null, null, "dd") }}</h5>
                        <div class="d-flex align-content-between w-100 pb-3">
                            <h6 class="text-left w-50">{{ 'now'|localizeddate('none', 'none', null, null, "MMMM") }}</h6>
                            <div class="w-50 text-right" id="time"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-33">
            <div class="d-flex flex-column h-100">
                <div class="ww-wrapper border-bottom">
                    <div class="ww-row">
                        <div class="weatherCard weatherCard1"></div>
                    </div>
                </div>
                <div class="frame">
                    <div class="list">
                        <div class="head">
                            <div class="title"> {{ 'dashboard.birthday.title'|trans }}</div>
                        </div>
                        {% if widgets.Birthday|length %}
                            <ul>
                                {% for event in widgets.Birthday %}
                                    <li>
                                        {{ event.content|md2html }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="h-50 align-items-center d-flex justify-content-center">
                                <div class="empty-state">Aucun</div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
