{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block body_id 'homepage' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('css/homepage') }}
{% endblock %}

{% block header %}{% endblock header %}

{% block body %}
    <div class="demo">
        <div class="container">
            <div class="row text-center">
                <h1 class="heading-title">Liste des Écrans</h1>
            </div>

            <div class="row">
                {% for screen in screens %}
                    <div class="col-md-4 col-sm-6">
                        <a href="{{ path('dashboard_screen', {id: screen.id }) }}" class="serviceBox-link">
                            <div class="serviceBox">
                                <div class="service-icon">
                                    <i class="fa fa-desktop"></i>
                                </div>
                                <h3 class="title">{{ screen.name }}</h3>
                                <p class="description">
                                    {{ screen.description|md2html }}
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}

            </div>
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
            <div class="circle5"></div>
            <div class="circle6"></div>
            <div class="circle7"></div>
            <div class="circle8"></div>
        </div>

    </div>
    <a href="{{ path('admin_dashboard') }}">
    <div class="template-corner template-top template-left">
        <div class="template-title">

                Admin<i class="template-icon fa fa-cogs"></i>


        </div>
    </div>
    </a>

{% endblock %}


{% block javascripts %}

{% endblock %}