{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block body_id 'screen' %}
{% block meta %}
    <meta http-equiv="refresh" content="300">
{% endblock meta %}

{% block stylesheets %}
    {{ encore_entry_link_tags('screen') }}
{% endblock %}

{% block header %}{% endblock header %}

{% block body %}

    <div class="wrapper">
        <header>
            <div>{{ 'now'|format_datetime('none', 'none', pattern="EEEE d MMMM y") }}</div>
            <img src="https://www.laprovidence-poitiers.fr/templates/yootheme/cache/La%20salle%20Poitiers_logo-9f8502e1.webp" alt="">
        </header>
        <main>
            <div class="tile tile-1">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        {% for event in widgets.News %}
                        <div class="swiper-slide">
                            <div class="news text-content">
                            {{ event.content|md2html }}
                            </div>
                        </div>
                        {% endfor %}

                        {% for event in widgets.Menu %}
                            <div class="swiper-slide">
                                <img src="{{ vich_uploader_asset(event) }}" alt="image menu">
                            </div>
                        {% endfor %}

                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="tile tile-2">
                <div class="card card-blue">
                    <div class="card-content">
                        <h5 class="card-title ow-city-name"></h5>
                        <div class="weather-content">
                            <div class="wi ow-ico ow-ico-current pull-left"></div>
                            <div class="ow-temp-current pull-left"></div>
                            <div class="ow-current-desc pull-left">
                                <div>Pression: <span class="ow-pressure"></span></div>
                                <div>Humidité: <span class="ow-humidity"></span></div>
                                <div>Vent: <span class="ow-wind"></span></div>
                            </div>
                        </div>
                        <div class="ow-forecast">

                        </div>
                    </div>

                </div>


            </div>
            <div class="tile tile-3 birthday">
                <div class="card card-green">
                    <div class="card-content">
                        <h5 class="card-title">{{ 'dashboard.birthday.title'|trans }}</h5>
                        {% if widgets.Birthday|length %}
                            <ul>
                                {% for event in widgets.Birthday %}
                                    <li>
                                        {{ event.content|md2html }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="h-50 align-items-center d-flex justify-content-center">
                                <div class="empty-state">Aucun</div>
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </main>
        <footer>

            <div>
                {% for event in widgets.Week %}
                    {{ event.content|md2html }}
                {% endfor %}
            </div>
            <div id="currentTime"></div>
        </footer>
    </div>


{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('screen') }}
{% endblock %}
