{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block body_id 'dashboard' %}

{% block header %}{% endblock header %}
{% block body %}
    <div class="animate purple"></div>
    <div class="animate medium-blue"></div>
    <div class="animate light-blue"></div>
    <div class="animate red"></div>
    <div class="animate orange"></div>
    <div class="animate yellow"></div>
    <div class="animate cyan"></div>
    <div class="animate light-green"></div>
    <div class="animate lime"></div>
    <div class="animate magenta"></div>
    <div class="animate lightish-red"></div>
    <div class="animate pink"></div>
        <div class="container-fluid mt-3 h-100">
            <div class="d-flex flex-row h-100">
                <div class="d-flex flex-column">
                    <div class="ww-wrapper">
                        <div class="ww-row">
                            <div class="weatherCard weatherCard1"></div>
                        </div>
                    </div>
                    <a href="{{ path('admin_dashboard') }}">administration</a>
                </div>


                <div class="d-flex flex-column  justify-content-around w-100 ">
                    <div class="d-flex flex-row  justify-content-around w-100 h-50 mb-3">
                        <div class="card birthday w-100 mx-3">
                            <div class="card-body">
                                <h5 class="card-title text-center">
                                    <i class="fas fa-birthday-cake"></i>
                                    {{ 'Birthday'|trans }}
                                </h5>
                                <div class="card-text">
                                    {% for event in widgets.Birthday %}
                                        <div class="w-100 d-block">
                                            {{ event.content|md2html }}
                                        </div>
                                    {% else %}
                                        <p>Aucun anniversaire</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="card menu w-100 mx-3">
                            <div class="card-body">
                            <h5 class="card-title text-center">
                                <i class="fas fa-utensil-spoon"></i>
                                {{ 'Menu'|trans }}
                            </h5>
                            <div class="card-text">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        {% for event in widgets.Menu %}
                                            <div class="carousel-item  {% if loop.first %} active {% endif %}">
                                                <div class="w-100 d-block">
                                                    {{ event.content|md2html }}
                                                </div>
                                            </div>
                                            {% else %}
                                            <p>Aucun menu</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around w-100 h-50">
                        <div class="card news w-100 mx-3">
                            <div class="card-body">
                                <h5 class="card-title text-center">
                                    <i class="fas fa-info-circle"></i>
                                    {{ 'Informations'|trans }}
                                </h5>
                                <div class="card-text">
                                    {% for event in widgets.News %}
                                        <div class="w-100 d-block">
                                            {{ event.content|md2html }}
                                        </div>
                                    {% else %}
                                        <p>Aucune Information</p>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
{% endblock %}
